<h1>Danny's App Fucks</h1>

<div *ngIf="fileList.length === 0" class="input">
  <label>What is the first column you'd like to compare? (Starting index at first column is 0)
    <input type="text" [(ngModel)]="col1" />
  </label>

  <label>
    What is the second column you'd like to compare? (Starting index at first column is 0)
    <input type="text" [(ngModel)]="col2" />
  </label>
</div>

<h4 *ngIf="!mode && col1 !== col2">PUT A FILE IN THE THINGY</h4>
<input *ngIf="col1 !== undefined && col2 !== undefined" type="file" (change)="findModeFromXlsxFile($event)"/>

<h4 *ngIf="mode">{{ mode }}</h4>
